<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<p style="color:red; font-size:32px;"> <b>Hello this is on behalf of REESE Application from Eli Lilly  </b></p>
<br/>
<br/>
<p style="color:blue;">You are been invited to register for the Reese Application </p>
<p style="color:blue;">Please Have this URL For registering with the REESE APPLICATION</p>


<p style="color:red; font-size:21px;" th:text="'  Registration URL ::   ' + ${message.registrationLink}" />

<p style="color:red; font-size:21px;" >
<ul >
    <li >For security Reasons your temporary password will be sent in different Email.</li>
</ul>
</p>

<!--<p th:text="'Registration URL :: ' + ${message.registrationLink}" />-->


<p style="font-size:25px;">please click  <a th:href="${message.registrationLink }">here</a> to get registered with the  REESE APPLICATION</p>
<br/>
<br/>
<p style="color:red; font-size:27px;"> <em>Thankyou,<br />
    Reese Application</em></p>
</body>
</html>