<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Token Expired</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/email.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <!--<form action="#" th:action="@{/tokenvalid}" th:object="${greeting}" method="post">-->

    <br/>
    <br/>

        <h3 class="form-signin-heading" style="color:blue; font-size:28px;">Validation Link has been Expired..Please Contact the Administrator of the REESE Application. </h3>
        <br/>
        <br/>

</div>

        <!-- <p>Email: <input type="text" th:field="*{email}" /></p>
         <p><input type="submit" value="Register" /> </p>-->
<!--    </form>-->
</body>
</html>






